* {
    padding: 0%;
    margin: 0%;
    color: thistle;
}
#navbar{
    height: 60px;
    background-color: black;
}
button{
    background-color: orange;
}
#logo{
    font-size: 25px;
    color: orange;
}
a{
    margin-right: 200px;
}
#dd {
height: 100px;
width: 100px;
background-color: aquamarine;
display: inline-block;
margin-left: 300px;
margin-top: 300px;
}
#body{
    height: 500px;
}
footer{
    text-align: center;
    background-color: black;
}